.about{
	text-align: center;
}

.about__title h1{
	font-size: 36px;
	font-family: 'Montserrat';
	font-weight: medium;
	margin: 36px 0px 64px 0px;
}

.about__info{
	margin-bottom: 64px;
	width: 100%;
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.text-1{
	margin-left: 260px;
}

.text-1 h1{
	width: 150px;
	color: #D434EE;
	font-family: 'Montserrat';
	font-weight: 700;
}

.text-3{
	margin-right: 350px;
}

.text-3 h1{
	width: 150px;
	color: #D434EE;
	font-family: 'Montserrat';
	font-weight: 700;
}

.text-2{
	margin: 0 80px;
}

.text-2 h1{
	width: 150px;
	color: #D434EE;
	font-family: 'Montserrat';
	font-weight: 700;
}

.about__text{
	display: flex;
	width: 1140px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 68px;
}

.about__text p{
	font-family: 'Montserrat';
	width: 604px;
	text-align: left;
}